USE [BD_IPD]
GO
/****** Object:  Table [dbo].[FABRICANTES]    Script Date: 08/23/2012 01:42:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FABRICANTES](
	[ID_FABRICANTE] [int] IDENTITY(1,1) NOT NULL,
	[NOMB_FABRICANTE] [varchar](30) NOT NULL,
	[DIRECCION] [varchar](60) NOT NULL,
	[PAIS] [varchar](20) NULL,
 CONSTRAINT [PK_IDFABRICANTE] PRIMARY KEY CLUSTERED 
(
	[ID_FABRICANTE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CLIENTES]    Script Date: 08/23/2012 01:42:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CLIENTES](
	[ID_CLIENTE] [int] IDENTITY(1,1) NOT NULL,
	[NOMB_CLIENTE] [varchar](45) NOT NULL,
	[DIRECCION] [varchar](60) NOT NULL,
	[PAIS] [varchar](20) NULL,
	[SALDO_INIC] [float] NULL,
	[SALDO_ACT] [float] NULL,
 CONSTRAINT [PK_IDCLIENTE] PRIMARY KEY CLUSTERED 
(
	[ID_CLIENTE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VENDEDOR]    Script Date: 08/23/2012 01:42:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VENDEDOR](
	[ID_VENDEDOR] [int] IDENTITY(1,1) NOT NULL,
	[NOMB_VENDEDOR] [varchar](45) NOT NULL,
	[ID_JEFE] [int] NOT NULL,
	[OFICINA] [varchar](20) NULL,
	[COMISION] [float] NULL,
 CONSTRAINT [PK_IDVENDEDOR] PRIMARY KEY CLUSTERED 
(
	[ID_VENDEDOR] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PRODUCTOS]    Script Date: 08/23/2012 01:42:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PRODUCTOS](
	[ID_PRODUCTO] [int] IDENTITY(1,1) NOT NULL,
	[DESC_PRODUCTO] [varchar](45) NOT NULL,
	[ID_FABRICANTE] [int] NOT NULL,
	[COSTO] [float] NULL,
	[PRECIO] [float] NULL,
 CONSTRAINT [PK_IDPRODUCTO] PRIMARY KEY CLUSTERED 
(
	[ID_PRODUCTO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  StoredProcedure [dbo].[INSERTARCLIENTES]    Script Date: 08/23/2012 01:42:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[INSERTARCLIENTES]
@Nombre varchar(45),
@Direccion varchar(65),
@Pais varchar(20),
@SaldoInicial float,
@SaldoActual float
as
BEGIN
Insert into Clientes values(@Nombre,@Direccion,@Pais,@SaldoInicial,@SaldoActual);
END
GO
/****** Object:  Table [dbo].[VENTAS]    Script Date: 08/23/2012 01:42:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VENTAS](
	[FECHA] [datetime] NOT NULL,
	[ID_CLIENTE] [int] NOT NULL,
	[ID_VENDEDOR] [int] NOT NULL,
	[ID_PROD] [int] NOT NULL,
	[CANTIDAD] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  ForeignKey [FK_IDFABRICANTE_FABRICANTE]    Script Date: 08/23/2012 01:42:50 ******/
ALTER TABLE [dbo].[PRODUCTOS]  WITH CHECK ADD  CONSTRAINT [FK_IDFABRICANTE_FABRICANTE] FOREIGN KEY([ID_FABRICANTE])
REFERENCES [dbo].[FABRICANTES] ([ID_FABRICANTE])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PRODUCTOS] CHECK CONSTRAINT [FK_IDFABRICANTE_FABRICANTE]
GO
/****** Object:  ForeignKey [FK_IDJEFE_IDVENDEDOR]    Script Date: 08/23/2012 01:42:50 ******/
ALTER TABLE [dbo].[VENDEDOR]  WITH CHECK ADD  CONSTRAINT [FK_IDJEFE_IDVENDEDOR] FOREIGN KEY([ID_JEFE])
REFERENCES [dbo].[VENDEDOR] ([ID_VENDEDOR])
GO
ALTER TABLE [dbo].[VENDEDOR] CHECK CONSTRAINT [FK_IDJEFE_IDVENDEDOR]
GO
/****** Object:  ForeignKey [FK_IDCLIENTE]    Script Date: 08/23/2012 01:42:50 ******/
ALTER TABLE [dbo].[VENTAS]  WITH CHECK ADD  CONSTRAINT [FK_IDCLIENTE] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[CLIENTES] ([ID_CLIENTE])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VENTAS] CHECK CONSTRAINT [FK_IDCLIENTE]
GO
/****** Object:  ForeignKey [FK_IDPROD]    Script Date: 08/23/2012 01:42:50 ******/
ALTER TABLE [dbo].[VENTAS]  WITH CHECK ADD  CONSTRAINT [FK_IDPROD] FOREIGN KEY([ID_PROD])
REFERENCES [dbo].[PRODUCTOS] ([ID_PRODUCTO])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VENTAS] CHECK CONSTRAINT [FK_IDPROD]
GO
/****** Object:  ForeignKey [FK_IDVENDEDOR]    Script Date: 08/23/2012 01:42:50 ******/
ALTER TABLE [dbo].[VENTAS]  WITH CHECK ADD  CONSTRAINT [FK_IDVENDEDOR] FOREIGN KEY([ID_VENDEDOR])
REFERENCES [dbo].[VENDEDOR] ([ID_VENDEDOR])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VENTAS] CHECK CONSTRAINT [FK_IDVENDEDOR]
GO
